In [1]:
import pandas as pd
import eikon as ek
import xlwings as xw
from configparser import ConfigParser

In [2]:
# Eikon setup
conf = ConfigParser()
conf.read('eikon.conf')
ek.set_app_key(conf['eikon']['APP_KEY'])

In [ ]:
# Eikon query
data = ek.get_timeseries('.DJI',
                         fields='*',
                         start_date='2019-01-01',
                         end_date='2019-05-31')
data

In [ ]:
# View the data in Excel
xw.view(data)

In [ ]:
# Create a new Excel workbook
wb = xw.Book()

In [ ]:
# Write a DataFrame
wb.sheets[0]['A1'].value = data

In [ ]:
# Read a DataFrame
wb.sheets[0]['A1'].options(pd.DataFrame, expand='table').value

In [42]:
import numpy as np
import math
prices = ek.get_timeseries('MSFT.OQ',
                           fields='close',
                           start_date='2018-01-01',
                           end_date='2019-12-31')
returns = np.log(prices / prices.shift(1))
mean = returns.mean() * 252
stdev = prices.std() * math.sqrt(252)

In [33]:
prices.iloc[2]

MSFT.OQ
CLOSE    87.11
Name: 2018-01-04 00:00:00, dtype: float64

In [36]:
float(prices[:252].tail(1).values)

101.12

In [38]:
float(prices.iloc[252 - 1])

101.12

In [23]:
import pandas as pd
index = pd.date_range(prices.index[-1], periods=52, freq='W')
pd.DataFrame(data=np.arange(52*4).reshape((52,4)), index=index, columns=['5th Percentile', 'Median', '95th Percentile', 'Close'])

           5th Percentile Median 95th Percentile Close
2017-12-31            NaN    NaN             NaN   NaN
2018-01-07            NaN    NaN             NaN   NaN
2018-01-14            NaN    NaN             NaN   NaN
2018-01-21            NaN    NaN             NaN   NaN
2018-01-28            NaN    NaN             NaN   NaN
2018-02-04            NaN    NaN             NaN   NaN
2018-02-11            NaN    NaN             NaN   NaN
2018-02-18            NaN    NaN             NaN   NaN
2018-02-25            NaN    NaN             NaN   NaN
2018-03-04            NaN    NaN             NaN   NaN
2018-03-11            NaN    NaN             NaN   NaN
2018-03-18            NaN    NaN             NaN   NaN
2018-03-25            NaN    NaN             NaN   NaN
2018-04-01            NaN    NaN             NaN   NaN
2018-04-08            NaN    NaN             NaN   NaN
2018-04-15            NaN    NaN             NaN   NaN
2018-04-22            NaN    NaN             NaN   NaN
2018-04-29            NaN    NaN             NaN   NaN
2018-05-06            NaN    NaN             NaN   NaN
2018-05-13            NaN    NaN             NaN   NaN
2018-05-20            NaN    NaN             NaN   NaN
2018-05-27            NaN    NaN             NaN   NaN
2018-06-03            NaN    NaN             NaN   NaN
2018-06-10            NaN    NaN             NaN   NaN
2018-06-17            NaN    NaN             NaN   NaN
2018-06-24            NaN    NaN             NaN   NaN
2018-07-01            NaN    NaN             NaN   NaN
2018-07-08            NaN    NaN             NaN   NaN
2018-07-15            NaN    NaN             NaN   NaN
2018-07-22            NaN    NaN             NaN   NaN
2018-07-29            NaN    NaN             NaN   NaN
2018-08-05            NaN    NaN             NaN   NaN
2018-08-12            NaN    NaN             NaN   NaN
2018-08-19            NaN    NaN             NaN   NaN
2018-08-26            NaN    NaN             NaN   NaN
2018-09-02            NaN    NaN             NaN   NaN
2018-09-09            NaN    NaN             NaN   NaN
2018-09-16            NaN    NaN             NaN   NaN
2018-09-23            NaN    NaN             NaN   NaN
2018-09-30            NaN    NaN             NaN   NaN
2018-10-07            NaN    NaN             NaN   NaN
2018-10-14            NaN    NaN             NaN   NaN
2018-10-21            NaN    NaN             NaN   NaN
2018-10-28            NaN    NaN             NaN   NaN
2018-11-04            NaN    NaN             NaN   NaN
2018-11-11            NaN    NaN             NaN   NaN
2018-11-18            NaN    NaN             NaN   NaN
2018-11-25            NaN    NaN             NaN   NaN
2018-12-02            NaN    NaN             NaN   NaN
2018-12-09            NaN    NaN             NaN   NaN
2018-12-16            NaN    NaN             NaN   NaN
2018-12-23            NaN    NaN             NaN   NaN

In [19]:
import numpy as np
np.arange(2*3).reshape((2,3))

array([[0, 1, 2],
       [3, 4, 5]])

In [25]:
prices['OPEN'] = np.nan

In [26]:
prices

MSFT.OQ     CLOSE  OPEN
Date
2017-01-03  62.58   NaN
2017-01-04  62.30   NaN
2017-01-05  62.30   NaN
2017-01-06  62.84   NaN
2017-01-09  62.64   NaN
2017-01-10  62.62   NaN
2017-01-11  63.19   NaN
2017-01-12  62.61   NaN
2017-01-13  62.70   NaN
2017-01-17  62.53   NaN
2017-01-18  62.50   NaN
2017-01-19  62.30   NaN
2017-01-20  62.74   NaN
2017-01-23  62.96   NaN
2017-01-24  63.52   NaN
2017-01-25  63.68   NaN
2017-01-26  64.27   NaN
2017-01-27  65.78   NaN
2017-01-30  65.13   NaN
2017-01-31  64.65   NaN
2017-02-01  63.58   NaN
2017-02-02  63.17   NaN
2017-02-03  63.68   NaN
2017-02-06  63.64   NaN
2017-02-07  63.43   NaN
2017-02-08  63.34   NaN
2017-02-09  64.06   NaN
2017-02-10  64.00   NaN
2017-02-13  64.72   NaN
2017-02-14  64.57   NaN
...           ...   ...
2017-11-16  83.20   NaN
2017-11-17  82.40   NaN
2017-11-20  82.53   NaN
2017-11-21  83.72   NaN
2017-11-22  83.11   NaN
2017-11-24  83.26   NaN
2017-11-27  83.87   NaN
2017-11-28  84.88   NaN
2017-11-29  83.34   NaN
2017-11-30  84.17   NaN
2017-12-01  84.26   NaN
2017-12-04  81.08   NaN
2017-12-05  81.59   NaN
2017-12-06  82.78   NaN
2017-12-07  82.49   NaN
2017-12-08  84.16   NaN
2017-12-11  85.23   NaN
2017-12-12  85.58   NaN
2017-12-13  85.35   NaN
2017-12-14  84.69   NaN
2017-12-15  86.85   NaN
2017-12-18  86.38   NaN
2017-12-19  85.83   NaN
2017-12-20  85.52   NaN
2017-12-21  85.50   NaN
2017-12-22  85.51   NaN
2017-12-26  85.40   NaN
2017-12-27  85.71   NaN
2017-12-28  85.72   NaN
2017-12-29  85.54   NaN

[251 rows x 2 columns]

In [50]:
import datetime as dt
(dt.datetime(2019 ,12, 31) - prices[:252].index[-1]).days

363

In [53]:
len(pd.date_range(prices[:252].index[-1], dt.datetime(2019 ,12, 31), freq='B'))

260